.table{
  width: 1050px;
  position: absolute;
  left: 18%;
  top: 20%;
  height: 50px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FF597B;
  border: 2px solid white;
}

.one{
  width: 150px;
  height: 400px;
  background-color: #A8D1D1;
  position: absolute;
  top: 26%;
  left: 17.4%;
}

.tablelogo{
  position: absolute;
  top: 1%;
  left: 18%;
}

.Catalogue{
  position: relative;
  left: 11px;
}

.h2tag{
  position: absolute;
  top: 28%;
  left: 39.5%;
}

.paragraph1{
  position: absolute;
  top: 38%;
  left: 42%;
}

.paragraph2{
  position: absolute;
  top: 41%;
  left: 34%;
}

.paragraph3{
  position: absolute;
  top: 59%;
  left: 42%;
}

.nextpage{
  position: absolute;
  top: 75%;
  left: 50%;
}
