.table{
  width: 1050px;
  position: absolute;
  left: 18%;
  top: 20%;
  height: 50px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FF597B;
  border: 2px solid white;
}

.one{
  width: 150px;
  height: 410px;
  background-color: #A8D1D1;
  position: absolute;
  top: 26%;
  left: 17.4%;
}

.Catalogue{
  position: relative;
  left: 11px;
}


.tablelogo{
  position: absolute;
  top: 1%;
  left: 18%;
}

.form{
  position: absolute;
  top: 33%;
  left: 40%;
}

.logindetails{
  position: absolute;
  top: 26%;
  left: 43%;
}
.nextpage{
  position: absolute;
  top: 75%;
  left: 45%;
}

.previouspage{
  position: absolute;
  top: 75%;
  left: 50%;
}
